@using ToolTips;
@using ToolTips.Models
@using Microsoft.JSInterop
@inherits ToolTipElementComponentBase
@inject IJSRuntime JS

<div @ref=refThis class="@CssClass" @onclick="@(()=>Toggle())" data-tooltip="@Visibility">
	@if(InlineContent == null)
    {
        <svg width="32" height="32" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path d="M77.5547 81.6172H67.5938C67.6198 79.2734 67.8021 77.2552 68.1406 75.5625C68.5052 73.8438 69.1172 72.2943 69.9766 70.9141C70.862 69.5339 72.0339 68.1667 73.4922 66.8125C74.7161 65.7188 75.7839 64.6771 76.6953 63.6875C77.6068 62.6979 78.3229 61.6823 78.8438 60.6406C79.3646 59.5729 79.625 58.388 79.625 57.0859C79.625 55.5755 79.3906 54.3255 78.9219 53.3359C78.4792 52.3203 77.8021 51.5521 76.8906 51.0312C76.0052 50.5104 74.8854 50.25 73.5312 50.25C72.4115 50.25 71.3698 50.4974 70.4062 50.9922C69.4427 51.4609 68.6484 52.1901 68.0234 53.1797C67.4245 54.1693 67.112 55.4714 67.0859 57.0859H55.7578C55.8359 53.5182 56.6562 50.5755 58.2188 48.2578C59.8073 45.9141 61.9297 44.1823 64.5859 43.0625C67.2422 41.9167 70.224 41.3438 73.5312 41.3438C77.1771 41.3438 80.3021 41.9427 82.9062 43.1406C85.5104 44.3125 87.5026 46.0443 88.8828 48.3359C90.263 50.6016 90.9531 53.362 90.9531 56.6172C90.9531 58.8828 90.5104 60.901 89.625 62.6719C88.7396 64.4167 87.5807 66.0443 86.1484 67.5547C84.7161 69.0651 83.1406 70.6276 81.4219 72.2422C79.9375 73.5703 78.9219 74.9635 78.375 76.4219C77.8542 77.8802 77.5807 79.612 77.5547 81.6172ZM66.4219 93.6875C66.4219 92.0208 66.9948 90.6406 68.1406 89.5469C69.2865 88.4271 70.8229 87.8672 72.75 87.8672C74.651 87.8672 76.1745 88.4271 77.3203 89.5469C78.4922 90.6406 79.0781 92.0208 79.0781 93.6875C79.0781 95.3021 78.4922 96.6693 77.3203 97.7891C76.1745 98.9089 74.651 99.4688 72.75 99.4688C70.8229 99.4688 69.2865 98.9089 68.1406 97.7891C66.9948 96.6693 66.4219 95.3021 66.4219 93.6875Z"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M161.148 122.438L90.0164 79.5717L103.115 161.581L118.465 138.374L137.777 167.006L152.7 156.941L133.25 128.105L161.148 122.438Z"/>
            <path opacity="0.772" fill-rule="evenodd" clip-rule="evenodd" d="M69.5599 11.0782C96.6034 9.93027 116.121 21.4239 128.112 45.5583C133.756 59.4766 134.219 73.5656 129.5 87.8243C128.129 87.9728 127.203 87.4166 126.725 86.1559C134.053 60.7279 127.393 39.873 106.745 23.5911C87.28 11.2573 67.4848 10.7011 47.3599 21.9227C24.1077 38.432 16.8004 60.3992 25.4374 87.8243C36.7206 112.345 55.8681 123.652 82.8799 121.748C85.0228 121.584 85.7626 122.418 85.0999 124.251C56.3937 127.252 35.766 115.852 23.2174 90.0488C13.9471 63.3384 19.9596 40.8151 41.2549 22.4789C49.7947 16.3236 59.2297 12.5231 69.5599 11.0782Z"/>
        </svg>
    }
    else{
        @InlineContent
    }
    
    <div class="@HelperCssClass" >
        @if(HelperContent != null){ @HelperContent } else { @HelperText }
    </div>
</div>


@code{
    private string CssClass => "ToolTip-Toggler" + (HighlightInlineContentWhenActive ? "":" NoHighlight") + (string.IsNullOrEmpty(CustomCssClass) ? "" : $" {CustomCssClass}");
    protected void Toggle(){
        TooltipService.ActivateToolTip();
    }

    protected override void OnInitialized()
    {
        AlwaysVisible = (HelperAlwaysDisplayable == null) ? true : (bool)HelperAlwaysDisplayable;
        HelperCssClass = "ToolTip-Helper" + (AlwaysVisible ? "" : $" Permanent") + (string.IsNullOrEmpty(CustomHelperCssClass) ? "" : $" {CustomHelperCssClass}");
        base.OnInitialized();
    }
}